<div class="card flex justify-content-center">
    <p-accordion [activeIndex]="0" class="custom-accordion">
      <p-accordionTab header="Header I" class="custom-tab">
        <p>
          Lorem ipsum dolor sit amet...
        </p>
      </p-accordionTab>
      <p-accordionTab header="Header II" class="custom-tab">
        <p>
          Sed ut perspiciatis unde omnis iste...
        </p>
      </p-accordionTab>
      <p-accordionTab header="Header III" class="custom-tab">
        <p>
          At vero eos et accusamus et iusto...
        </p>
      </p-accordionTab>
    </p-accordion>
  </div>
  