<div class="nav-container">
    <div class="nav-content">
        <div class="nav-image">
            <img src="https://img.freepik.com/premium-vector/free-vector-beautiful-flying-hummingbird-design-element-banners-posters-leaflets-brochur_1009653-1.jpg"
                width="50px" height="50px">
        </div>
        <div class="nav-list">
            <ul>
                <li>Home</li>
                <li>Application</li>
                <li>Career</li>
            </ul>
        </div>
    </div>
</div>